[alias]
  ci = commit -a
  co = checkout --recurse-submodules
  c- = !git commit -a -F -
  cl = clean -dfx
  cc = cherry-pick
  ff = merge --ff-only
  fx = commit -a --amend --no-edit
  ix = diff --cached
  please = push --force-with-lease
  re = re-edit
  st = status -sb
  fap  = fetch --all --prune
  git  = !git
  wip  = commit -a -m WIP
  hist = log --all --graph --color=always --pretty='[%C(cyan)%h%Creset]%C(bold cyan)%d%Creset %s'
  fist = !git fap && git hist
  shist = log --graph --color=always --pretty='[%C(cyan)%h%Creset]%C(bold cyan)%d%Creset %s'

[color]
  diff = auto
  status = auto
  branch = auto

[core]
  attributesfile = ~/.gitattributes

[diff]
  compactionHeuristic = true

[include]
  path = ~/.gitconfig.local

[init]
  defaultBranch = main

[log]
  date = iso-local
  follow = true

[pull]
  ff = only

[push]
  default = upstream

[url "git://github.com/"]
  insteadOf = hub:

[url "ssh://git@gitlab.fm/"]
  insteadOf = https://gitlab.fm/

[user]
  name = Ricardo Signes
  email = rjbs@semiotic.systems
