[user]
  name = Ricardo Signes
  email = rjbs@semiotic.systems
[color]
  diff = auto
  status = auto
  branch = auto
[push]
  ; default = simple
[alias]
  ci = commit -a
  co = checkout --recurse-submodules
  c- = !git commit -a -F -
  cl = clean -dfx
  cc = cherry-pick
  ff = merge --ff-only
  fx = commit -a --amend --no-edit
  ix = diff --cached
  please = push --force-with-lease
  re = re-edit
  st = status -sb
  fap  = fetch --all --prune
  git  = !git
  wip  = commit -a -m WIP
  hist = log --all --graph --color=always --pretty='[%C(cyan)%h%Creset]%C(bold cyan)%d%Creset %s'
  fist = !git fap && git hist
  shist = log --graph --color=always --pretty='[%C(cyan)%h%Creset]%C(bold cyan)%d%Creset %s'

[url "git://github.com/"]
  insteadOf = hub:

[core]
attributesfile = ~/.gitattributes

[include]
path = ~/.gitconfig.local
[push]
default = matching
[diff]
compactionHeuristic = true
[log]
	date = iso-local
[init]
	defaultBranch = main
[pull]
	ff = only
