[user]
  name = Ricardo Signes
  email = rjbs@cpan.org
[color]
  diff = auto
  status = auto
  branch = auto
[push]
  default = simple
[alias]
  ci = commit -a
  cl = clean -dfx
  cc = cherry-pick
  ff = merge --ff-only
  fx = commit -a --amend -C HEAD
  ix = diff --cached
  re = re-edit
  st = status -sb
  fap  = fetch --all --prune
  git  = !git
  wip  = commit -a -m WIP
  hist = log --all --graph --color=always --pretty='[%C(cyan)%h%Creset]%C(bold cyan)%d%Creset %s'
  fist = !git fap && git hist
  shist = log --graph --color=always --pretty='[%C(cyan)%h%Creset]%C(bold cyan)%d%Creset %s'
